<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<title>Pending Payments</title>
<!-- Head (all meta link scripts go here ) START -->
<div th:replace="~{fragments/header :: header}"></div>
<!-- Head (all meta link scripts go here ) END -->
<!-- ADD THE CLASS sidedar-collapse TO HIDE THE SIDEBAR PRIOR TO LOADING THE SITE -->

<style>
	.divGreenDot {
		width: 20px; height: 20px; border-radius: 50%; background-color: green;
	}
	.divRedDot {
		width: 20px; height: 20px; border-radius: 50%; background-color: red;
	}
</style>
<style>
				
		.fixed-bottom {
			
			transition: bottom 0.5s, opacity 0.5s; /* Add transition effects */
			opacity: 0; /* Hide the div initially */
		}
		
		.show {
			bottom: 0; /* Show the div */
			opacity: 1;
		}
	</style>
<body class="hold-transition sidebar-mini">
<!-- Site wrapper START-->
<div class="wrapper">
    <!-- TOP Menu (all meta link scripts go here ) START -->
    <div th:replace="~{fragments/top-menu :: top-menu}" ></div>
    <!-- TOP Menu (all meta link scripts go here ) END -->
    <!-- Left side column. contains the sidebar START -->
    <div th:replace="~{fragments/left-menu-panel :: left-menu-panel}"></div>
    <!-- Left side column. contains the sidebar END -->
    <!-- Content Wrapper. Contains page content START -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) START-->
        <!-- <div th:replace="~{fragments/maincontainheader :: maincontainheader"/>  TODO need to check 21-03-2020 -->
        <!-- Content Header (Page header) END-->


        <!--  ********  PLEASE DO NOT CHANGE ABOVE CODE ********* -->

        <!-- Main content START  -->
        <!--   ============ YOUR CODE WILL GO HERE =========== START -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Pending Payments</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Agents</a></li>
                            <li class="breadcrumb-item active">Pending Payments</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>
        <section class="content">
            <div class="container-fluid">
                <div sec:authorize="!hasAuthority('permission.agent.user')">
                    <div style="color: #ac2925; text-align: center">
                        <h4>You don't have permission to this page.</h4>
                    </div>
                </div>
                <div class="row" sec:authorize="hasAuthority('permission.agent.user')">
                    <div class="col-12">
                        <div class="box">
                            <div class="box-header">
                                <div class="alert alert-success" th:if="${successMessage != null}">
                                    <strong>Success! </strong>
                                    <div th:text="${successMessage}"/>
                                </div>
                                <div class="alert alert-warning" th:if="${warningMessage != null}">
                                    <strong>Warning! </strong>
                                    <div th:text="${warningMessage}"/>
                                </div>
                                <div class="alert alert-danger" th:if="${errorMessage != null}">
                                    <strong>Failure! </strong>
                                    <div th:text="${errorMessage}"/>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">Pending Payments</h3>
                                </div>
                                <div class="card-body">
                                    <table id="profileDatatable" class="table table-bordered table-striped customized-table" width="100%">
                                      <thead>
                                        <tr>
                                            <th class="k-header"> <input type="checkbox" id="selectAllCB" style="padding:5px;"> Index </th>
                                            <th class="k-header">Name</th>
                                            <th class="k-header">Registration Number</th>
                                            <th class="k-header">Service Name</th>
                                            <th class="k-header">Subscription Code</th>
                                            <th class="k-header">Subscription Value</th>
                                            <th class="k-header">Subscription Charge</th>
                                            <th class="k-header">Operations</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <tr th:if="${not #lists.isEmpty(users)}" th:each="user, itrUser : ${users}">
                                        	
                                            <td>
                                            	<input th:value="${user.registrationId}"  type="checkbox" class="selectMe" style="padding:5px;"> <span th:text="${itrUser.index + 1}" class="tabledit-span"></span></span>
                                            	<input th:data-registrationId="${user.registrationId}" th:data-registrationNumber="${user.registrationNumber}"   th:data-paymentStatus="${user.paymentStatus}" th:data-subCode="${user.subscriptionCode}" th:data-subVal="${user.subscriptionValue}" th:data-subCharge="${user.subscriptionCharge}"  th:value="${user.registrationId}" class="approvaldata" type="hidden">
                                            	<input type="hidden" class="serviceName" th:value="${user.serviceName}">
                                            	
                                            </td>
                                            <td><span th:text="${user.username}" th:title="${user.username}" class="tabledit-span"></span></td>
                                            <td><span th:text="${user.registrationNumber}" th:title="${user.registrationNumber}" class="tabledit-span"></span></td>
                                            <td><span th:text="${user.serviceName}" th:title="${user.serviceName}" class="tabledit-span"></span></td>
                                            <td><span th:text="${user.subscriptionCode}" th:title="${user.subscriptionCode}" class="tabledit-span"></span></td>
                                            <td><span th:text="${user.subscriptionValue}" th:title="${user.subscriptionValue}" class="tabledit-span"></span></td>
                                            <td><span th:text="${user.subscriptionCharge}" th:title="${user.subscriptionCharge}" class="tabledit-span"></span></td>
                                            
                                            
                                            <td >
                                                <div class="d-flex justify-content-start align-items-center">
                                                		<input type="hidden" th:value="${user.registrationNumber}" class="rid">
                                                		<button th:onclick="approve(this)" type="button" class="btn btn-sm btn-primary margin-right-1 bg-green" sec:authorize="hasAuthority('permission.agent.user')"  data-toggle="tooltip" title="Pay">Pay</button>
                                                		<!-- <button type="button" class="btn btn-sm btn-block btn-warning margin-left-1" sec:authorize="hasAuthority('permission.agent.user')"  data-toggle="tooltip" title="Delete">Delete</button> -->
                                                </div>
                                            </td>
                                            
                                        </tr>
                                      </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- div applrove all/selected  -->
			<div class="buynow-row fixed-bottom" id="fixed-bottom">
				<div class="row">
					<div class="col-6  c-text-black" style="padding-right: 1px;">
						<button id="btnApproveMultipleClose" class="btn btn-danger btn-lg btn-buy-full">Close</button>
					</div>
					<div class="col-6  c-text-black" style="padding-left: 1px;">
						<button id="btnApproveMultiple" class="btn btn-primary btn-lg btn-buy-full bg-green">Approve Selected</button>
					</div>
				</div>
			</div>
        </section>
        <!--   ============ YOUR CODE WILL GO HERE =========== END-->
        <!-- Main content END  -->

        <!--  ********  PLEASE DO NOT CHANGE BELOW CODE ********* -->

    </div>
    <!-- Content Wrapper. Contains page content END -->

    <!-- ===================##### Main contain goes here END ============================ -->

	
    <!-- =============================================== -->
    <!-- Footer START -->
    <div th:replace="~{fragments/footer :: footer}"></div>
    <!-- Footer END -->
    <!-- Add the sidebar's background. This div must be placed immediately after the control sidebar -->
    <div class="control-sidebar-bg"></div>
</div>
<!-- Site wrapper END -->
<div class="modal fade" id="approveModal" tabindex="-1"
				role="dialog" aria-labelledby="approveModalTitle"
				aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-body border-0" id="logoutUserSessionModalText">
				<h4>Continue to pay Rs <span id="singlePayLabel">0</span> ? </h4> 
				<input type="hidden" id="approvedRegId" value="" />
			</div>
			<div class="modal-footer border-0">
				<button type="button" class="btn btn-default bg-green" onclick="approveSubmit();" data-bs-dismiss="modal">OK</button>
				<button type="button" data-bs-dismiss="modal" class="btn btn-default bg-red">CANCEL</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="approveMultipleModal" tabindex="-1"
				role="dialog" aria-labelledby="approveMultipleModalTitle"
				aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-body border-0">
				<h4>Continue to pay Rs <span id="multiplePayLabel"></span> ?</h4> 
			</div>
			<div class="modal-footer border-0">
				<button type="button" class="btn btn-default bg-green" onclick="approveMultipleSubmit();" data-bs-dismiss="modal">OK</button>
				<button type="button" data-bs-dismiss="modal" class="btn btn-default bg-red">CANCEL</button>
			</div>
		</div>
	</div>
</div>
<!--Delete modal -->
<!-- <div class="modal fade" id="deleterow">
	<div class="modal-dialog">
	  <div class="modal-content bg-danger">
		<div class="modal-header">
		  <h4 class="modal-title">Delete Confirmation</h4>
		</div>
		<div class="modal-body">
		  <p>Are you sure you want to delete this entry?</p>
		</div>
		<div class="modal-footer justify-content-between">
		  <button id="confirmdelete" type="button" class="btn btn-outline-light" data-bs-dismiss="modal">OK</button>
		  <button type="button" class="btn btn-outline-light" data-bs-dismiss="modal">Cancel</button>
		</div>
	  </div>
	</div>
</div> -->
<!-- common script START -->
<div th:replace="~{fragments/common-scripts :: common-scripts}"></div>
<!-- common script END -->
<script type="text/javascript">
var singleRegistrationObject = new Object();
var multiRegistrationArray = [];
var singleServiceName = "";
$(function () {
	var table = $(".customized-table").DataTable({
		"retrieve": true,
		"bSort": false,
		"info": true,
		"paging": true,
		"searching": true,
		"ordering": false,
		"autoWidth": true,
		"deferLoading": 57
	});
	$(".dataTables_length").find("select").addClass("custom-select custom-select-sm form-control form-control-sm");
	$(".dataTables_filter").find("input").addClass("form-control form-control-sm");
	$(".customized-table tbody").find("tr").each(function(index){
		$(this).attr("id","row"+index);
	});
	
	$('#selectAllCB').change(function(){
		if($(this).is(':checked')){
			$('.selectMe:checkbox:not(:disabled)').prop('checked', true);
			showFixedBottom();
     	} else {
    		$('.selectMe:checkbox:not(:disabled)').prop('checked', false);
    		hideFixedBottom();
      	}
	});
	
	$('.selectMe').change(function(){
	
		if($(this).is(':checked')){
			showFixedBottom();
     	} else {
     		$('#selectAllCB').prop('checked', false);
     		if (!$('input[type="checkbox"].selectMe').is(':checked')) { 
     			hideFixedBottom();
   			}
      	}
	
	});
	
	$('#btnApproveMultiple').click(function(){
		approveMitipleAlert();
	});
	
	$('#btnApproveMultipleClose').click(function(){
		hideFixedBottom();
	});
	
});

	function approve( obj )
	{
		$("#singlePayLabel").text('0');
		singleRegistrationObject = new Object();
		singleServiceName = "";
		var button = $(obj);
		var approvaldataInput = button.parent().parent().parent().find('.approvaldata');
		var serviceName = button.parent().parent().parent().find('.serviceName').val();
		
		
		singleRegistrationObject.registrationId = approvaldataInput.attr('data-registrationId');
    	singleRegistrationObject.registrationNumber = approvaldataInput.attr('data-registrationNumber');
    	singleRegistrationObject.paymentStatus = approvaldataInput.attr('data-paymentStatus');
    	singleRegistrationObject.subscriptionCode = approvaldataInput.attr('data-subCode');
    	singleRegistrationObject.subscriptionValue = approvaldataInput.attr('data-subVal');
    	singleRegistrationObject.subscriptionCharge = approvaldataInput.attr('data-subCharge');
    	singleRegistrationObject.serviceName = serviceName;
    	
		
		console.log(singleRegistrationObject);
		$("#singlePayLabel").text(approvaldataInput.attr('data-subCharge'));
		$('#approveModal').modal('show');
	}
	
	function approveMitipleAlert()
	{
		$("#multiplePayLabel").text('0');
		var totalCharge = 0;
		$('.selectMe:checked').each(function() {
			
			var hInput = $(this);
			var approvaldataInput = hInput.parent().find('.approvaldata');
			var charge = approvaldataInput.attr('data-subCharge');
			totalCharge =  totalCharge + parseInt(charge);
		});
		$("#multiplePayLabel").text(totalCharge);
		$('#approveMultipleModal').modal('show');
	}
	
	function approveMultipleSubmit() {
		
		hideFixedBottom();
		multiRegistrationArray = [];
		var registrationIdArray = [];
		var serviceName = "";
		$('.selectMe:checked').each(function() {
			
			
			registrationIdArray.push($(this).val());
			var hInput = $(this);
			var approvaldataInput = hInput.parent().find('.approvaldata');
			serviceName = hInput.parent().find('.serviceName').val();

			if(serviceName == "" || serviceName == null)
			{
				alert("No servicename selected");
				return false;
			}
			
			var regObject = new Object();
			
			regObject.registrationId = approvaldataInput.attr('data-registrationId');
			regObject.registrationNumber = approvaldataInput.attr('data-registrationNumber');
			regObject.paymentStatus = approvaldataInput.attr('data-paymentStatus');
			regObject.subscriptionCode = approvaldataInput.attr('data-subCode');
			regObject.subscriptionValue = approvaldataInput.attr('data-subVal');
			regObject.subscriptionCharge = approvaldataInput.attr('data-subCharge');
			regObject.serviceName = serviceName;
	    	
			multiRegistrationArray.push(regObject);
			registrationIdArray.push(approvaldataInput.val());
		});
		
		if(multiRegistrationArray.length <= 0)
		{ 
			alert('Please select an registration data');
		}
		
		var submitObject = new Object();
		submitObject.dataList = multiRegistrationArray;
		
		var header = $("meta[name=_csrf_header]").attr("content");
    	var token =  $("meta[name=_csrf]").attr("content");
		$.ajax({
			
	        type: "POST",
	        // crossDomain: true,
	        url: "/cms/agents/work/payment/pending",
	        contentType: 'application/json',
	        headers: {
	            'X-CSRF-Token': token
	        },
	        data: JSON.stringify(submitObject),
	        success: function(result) {
	        	
	        	console.log("result :  " + result);
	        	htmlUsers = "";
	    		
	        	if(result.status.code == 200)
	        	{
	        		var paymentUrl = result.data.paymentUrl;
	        		console.log(paymentUrl);
	        		registrationIdArray.length = 0;
	        	}
	        	else
	        	{
	        		console.log("error fetching data:" + result.status.message);
	        		var htmlErrorString = '<div class="alert alert-danger" ><strong>Failure! </strong><div>' + result.status.message + '</div></div>';
					$('.box-header').html(htmlErrorString);
	        	}
	        	
	        },
	        error: function (err) {
	        	console.log("error fetching data:" + err);
        		var htmlErrorString = '<div class="alert alert-danger" ><strong>Failure! </strong><div>' + err + '</div></div>';
				$('.box-header').html(htmlErrorString);
	        }
	    });
	}
	
	function approveSubmit()
	{
		
		var submitObject = new Object();
		
		var approvalData = [];
		approvalData.push(singleRegistrationObject);
		submitObject.dataList = approvalData;
		
		var header = $("meta[name=_csrf_header]").attr("content");
    	var token =  $("meta[name=_csrf]").attr("content");
		$.ajax({
			
	        type: "POST",
	        // crossDomain: true,
	        url: "/cms/agents/work/payment/pending",
	        contentType: 'application/json',
	        headers: {
	            'X-CSRF-Token': token
	        },
	        data: JSON.stringify(submitObject),
	        success: function(result) {
	        	
	        	console.log("result :  " + result);
	        	htmlUsers = "";
	    		
	        	if(result.status.code == 200)
	        	{
	        		var paymentUrl = result.data.paymentUrl;
	        		console.log(paymentUrl);
	        	}
	        	else
	        	{
	        		console.log("error fetching data:" + result.status.message);
	        		var htmlErrorString = '<div class="alert alert-danger" ><strong>Failure! </strong><div>' + result.status.message + '</div></div>';
					$('.box-header').html(htmlErrorString);
	        	}
	        	
	        },
	        error: function (err) {
	        	console.log("error fetching data:" + err);
        		var htmlErrorString = '<div class="alert alert-danger" ><strong>Failure! </strong><div>' + err + '</div></div>';
				$('.box-header').html(htmlErrorString);
	        }
	    });
		
	}
	
	var fixedBottom = document.getElementById("fixed-bottom");
	
	// Show the div
	function showFixedBottom() {
		fixedBottom.classList.add("show");
	}
	
	// Hide the div
	function hideFixedBottom() {
		fixedBottom.classList.remove("show");
	}
	
    
</script>
</body>
</html>