<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!-- Head (all meta link scripts go here ) START -->
<title>Change Password</title>
<div th:replace="~{fragments/header :: header}"></div>
<!-- Head (all meta link scripts go here ) END -->
<!-- ADD THE CLASS sidedar-collapse TO HIDE THE SIDEBAR PRIOR TO LOADING THE SITE -->
<body class="hold-transition sidebar-mini">
<!-- Site wrapper START-->
<div class="wrapper">
    <!-- TOP Menu (all meta link scripts go here ) START -->
    <div th:replace="~{fragments/top-menu :: top-menu}"></div>
    <!-- TOP Menu (all meta link scripts go here ) END -->
    <!-- Left side column. contains the sidebar START -->
    <div th:replace="~{fragments/left-menu-panel :: left-menu-panel}v"></div>
    <!-- Left side column. contains the sidebar END -->
    <!-- Content Wrapper. Contains page content START -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) START-->
        <!-- <div th:replace="~{fragments/maincontainheader :: maincontainheader"/>  TODO need to check 21-03-2020 -->
        <!-- Content Header (Page header) END-->


        <!--  ********  PLEASE DO NOT CHANGE ABOVE CODE ********* -->
        <!-- Main content START  -->
        <!--   ============ YOUR CODE WILL GO HERE =========== START -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Change Password</h1>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>
        <section class="content">
          <div class="container-fluid">
            	<div sec:authorize="!hasAuthority('permission.admin.user')">
                    <div style="color: #ac2925; text-align: center">
                        <h4>You don't have permission to this page.</h4>
                    </div>
                </div>
                <div class="row" sec:authorize="hasAuthority('permission.admin.user')">
                    <div class="col-12">
                        <div class="box">
                            <div class="box-header">
                            	<div id="fileUploadMsg"></div>
                                <div class="alert alert-success" th:if="${successMessage != null}">
                                    <strong>Success! </strong>
                                    <div th:text="${successMessage}"/>
                                </div>
                                <div class="alert alert-warning" th:if="${warningMessage != null}">
                                    <strong>Warning! </strong>
                                    <div th:text="${warningMessage}"/>
                                </div>
                                <div class="alert alert-danger" th:if="${errorMessage != null}">
                                    <strong>Failure! </strong>
                                    <div th:text="${errorMessage}"/>
                                </div>
                            </div>      
	                      	<div class="login-box">
								<div class="login-box-body">
									<p class="login-box-msg">Please fill out the following fields</p>
								    <div id="msg" style="color: green"></div>
								   <div id="errorMsgDiv" style="color: red;display:none;padding-bottom:10px;">
								   </div>
								   <form th:action="@{/passwordChange}" method="post" onsubmit="return confirmNewPassword();">
								       <div class="form-group has-feedback">
								           <input type="password"  name="oldpassword"  class="form-control" id="oldpassword" required="required" placeholder="" />
								       </div>
								       <div class="form-group has-feedback">
								           <input type="password"  name="newpassword"  class="form-control" id="newpassword" required="required" placeholder="New Password" />
								       </div>
								       <div class="form-group has-feedback">
								           <input type="password"  name="repeatnewpassword"  class="form-control" id="repeatnewpassword" required="required" placeholder="Repeat New Password" />
								       </div>
								       <div class="row">
								           <div class="col-6">
								           </div>
								           <!-- /.col -->
								           <div class="col-6">
								               <span>
								                   <button type="submit" class="btn btn-primary btn-block btn-flat" id="signInBtn">Change Password</button>
								               </span>
								           </div>
								           <!-- /.col -->
								        </div>
								    </form>
								</div>
	                      	</div>
                    </div>
                </div>
            </div>
       </section>
   <!--   ============ YOUR CODE WILL GO HERE =========== END-->
        <!-- Main content END  -->

        <!--  ********  PLEASE DO NOT CHANGE BELOW CODE ********* -->

    </div>
    <!-- Content Wrapper. Contains page content END -->

    <!-- ===================##### Main contain goes here END ============================ -->

    <!-- =============================================== -->
    <!-- Footer START -->
    <div th:replace="~{fragments/footer :: footer}"></div>
    <!-- Footer END -->
    <!-- Add the sidebar's background. This div must be placed immediately after the control sidebar -->
    <div class="control-sidebar-bg"></div>
</div>
<style>
.form-control {
	display: block;
	width: 100%;
	padding: 0.375rem 0.75rem;
	font-size: 1rem;
	line-height: 1.5;
	color: #495057;
	background-color: #ffffff;
	background-clip: padding-box;
	border-radius: 0.25rem;
	box-shadow: inset 0 0 0 transparent;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
</style>
<!-- common script START -->
<div th:replace="~{fragments/common-scripts :: common-scripts}"></div>
<script type="text/javascript">
function confirmNewPassword()
{
	var passwd = $("#newpassword").val();
    var confPass = $("#repeatnewpassword").val();
    //alert("here -> passwd:" + passwd + ",confPass:" + confPass);
    var regularExpression  = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$/;
    
    if(!regularExpression.test(passwd)) 
    {
    	$("#errorMsgDiv").html("Password should have min 8 chars with 1 capital 1 number and 1 special character");
    	$("#errorMsgDiv").show();
		setTimeout(function(){
			$("#errorMsgDiv").html("");
			$("#errorMsgDiv").hide();
		},5000);
        return false;
    }
    else if(passwd != confPass)
    {
    	$("#errorMsgDiv").html("New and repeat password does not match.");
		$("#errorMsgDiv").show();
		setTimeout(function(){
			$("#errorMsgDiv").html("");
			$("#errorMsgDiv").hide();
		},8000);
		return false;
    }
	else
	{
		return true;
	}
}
</script>

</body>
</html> 
                                