<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<title>Password Reset</title>
<!-- Head (all meta link scripts go here ) START -->
<div th:replace="~{fragments/header :: header}"></div>
<link rel="stylesheet" type="text/css" th:href="@{/resources/css/bootstrap-duallistbox.css}"/>
<link th:href="@{/resources/css/bootstrap-imageupload.css}" rel="stylesheet"/>

<!-- Head (all meta link scripts go here ) END -->
<!-- ADD THE CLASS sidedar-collapse TO HIDE THE SIDEBAR PRIOR TO LOADING THE SITE -->
<body class="hold-transition skin-blue sidebar-mini">
<!-- Site wrapper START-->
<div class="wrapper">
    <!-- TOP Menu (all meta link scripts go here ) START -->
    <div th:replace="~{fragments/top-menu :: top-menu}" ></div>
    <!-- TOP Menu (all meta link scripts go here ) END -->
    <!-- Left side column. contains the sidebar START -->
    <div th:replace="~{fragments/left-menu-panel :: left-menu-panel}" ></div>
    <!-- Left side column. contains the sidebar END -->
    <!-- Content Wrapper. Contains page content START -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) START-->
        <!-- <div th:replace="~{fragments/maincontainheader :: maincontainheader"/>  TODO need to check 21-03-2020 -->
        <!-- Content Header (Page header) END-->


        <!--  ********  PLEASE DO NOT CHANGE ABOVE CODE ********* -->

        <!-- Main content START  -->
        <!--   ============ YOUR CODE WILL GO HERE =========== START -->
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div sec:authorize="!hasAuthority('permission.admin.user')">
                        <center style="color: #ac2925 ">
                            <h4>You don't have permission to this page.</h4>
                        </center>
                    </div>
                    <div class="box" sec:authorize="hasAuthority('permission.admin.user')">
                        <div class="box-header">
                            <h3 class="box-title">Update User</h3>
                            <div class="alert alert-success" th:if="${successMessage != null}">
                                <strong>Success! </strong> <div th:text="${successMessage}" />
                            </div>
                            <div class="alert alert-warning" th:if="${warningMessage != null}">
                                <strong>Warning! </strong> <div th:text="${warningMessage}" />
                            </div>
                            <div class="alert alert-danger" th:if="${errorMessage != null}">
                                <strong>Failure! </strong> <div th:text="${errorMessage}" />
                            </div>
                        </div>
                        <!-- /.box-header -->
                        <form class="form-horizontal" action="#" method="post" data-th-action="@{/password-reset-save.html}" th:object="${user}" enctype="multipart/form-data">
                            <div class="box-body">
                                <input type="hidden" name="id" class="form-control" id="id"  th:field="*{id}"/>
                                <div class="form-group">
                                    <label for="username" class="col-sm-3 control-label">Username</label>
                                    <div class="col-sm-4">
                                        <input type="hidden" name="username" class="form-control" id="username"  th:field="*{username}"/>
                                        <input type="text" name="usernameDispaly" class="form-control" id="usernameDispaly" disabled="disabled"  th:field="*{username}" placeholder="Username"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="hidden" name="tempPassword" class="form-control" id="tempPassword"  th:field="*{tempPassword}"/>
                                    <label for="username" class="col-sm-3 control-label">Password</label>
                                    <div class="col-sm-4">
                                        <input type="password" name="password" class="form-control" id="password"  th:field="*{password}" placeholder="Password"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="confirm" class="col-sm-3 control-label">Confirm</label>
                                    <div class="col-sm-4">
                                        <input type="password" name="confirm" class="form-control" id="confirm"  th:field="*{confirm}" placeholder="Confirm"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="firstName" class="col-sm-3 control-label">First Name</label>
                                    <div class="col-sm-4">
                                        <input type="text" name="firstName"  disabled="disabled" class="form-control" id="firstName"  th:field="*{firstName}" placeholder="First Name"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="lastName" class="col-sm-3 control-label">Last Name</label>
                                    <div class="col-sm-4">
                                        <input type="text" name="lastName"  disabled="disabled" class="form-control" id="lastName"  th:field="*{lastName}" placeholder="Last Name"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="email" class="col-sm-3 control-label">Email</label>
                                    <div class="col-sm-4">
                                        <input type="hidden" name="email" class="form-control" id="email"  th:field="*{email}"/>
                                        <input type="text" name="emailDisplay" disabled="disabled" class="form-control" id="emailDisplay"  th:field="*{email}" placeholder="Email"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="phone" class="col-sm-3 control-label">Phone</label>
                                    <div class="col-sm-4">
                                        <input type="hidden" name="phone" class="form-control" id="phone"  th:field="*{phone}"/>
                                        <input type="text" name="phoneDisplay" disabled="disabled" class="form-control" id="phoneDisplay"  th:field="*{phone}" placeholder="Phone"/>
                                    </div>
                                </div>
                            </div>
                            <!-- /.box-body -->
                            <div class="box-footer">
                                <a href="/" class="btn btn-default" >Cancel</a>
                                <button type="submit" class="btn btn-info pull-right" name="action" value="update">Update</button>
                            </div>
                            <!-- /.box-footer -->
                        </form>
                    </div>
                    <!-- /.box -->
                </div>
                <!-- /.col -->
            </div>

        </section>
        <!--   ============ YOUR CODE WILL GO HERE =========== END-->
        <!-- Main content END  -->


        <!--  ********  PLEASE DO NOT CHANGE BELOW CODE ********* -->

    </div>
    <!-- Content Wrapper. Contains page content END -->

    <!-- ===================##### Main contain goes here END ============================ -->

    <!-- =============================================== -->
    <!-- Footer START -->
    <div th:replace="~{fragments/footer :: footer}" ></div>
    <!-- Footer END -->
    <!-- Add the sidebar's background. This div must be placed immediately after the control sidebar -->
    <div class="control-sidebar-bg"></div>
</div>
<!-- Site wrapper END -->
<!-- common script START -->
<div th:replace="~{fragments/common-scripts :: common-scripts}" ></div>
<!-- common script END -->
<!-- DataTables -->
<script th:src="@{/resources/js/jquery.dataTables-1.10.12.min.js}"></script>
<script th:src="@{/resources/js/dataTables.bootstrap-1.10.12.min.js}"></script>
<script th:src="@{/resources/js/bootstrap-imageupload.js}"></script>


<script type="text/javascript">
    var $imageupload = $('.imageupload');
    $imageupload.imageupload();
</script>
</body>
</html>
