<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<title>Add User</title>
<!-- Head (all meta link scripts go here ) START -->
<div th:replace="~{fragments/header :: header}"></div>
<!-- Head (all meta link scripts go here ) END -->
<!-- ADD THE CLASS sidedar-collapse TO HIDE THE SIDEBAR PRIOR TO LOADING THE SITE -->


<body class="hold-transition skin-blue sidebar-mini">
<style>

.frmSearch {
    border: 1px solid #a8d4b1;
    background-color: #c6f7d0;
    margin: 2px 0px;
    padding: 10px;
    border-radius: 4px;
}

#country-list {
    float: left;
    list-style: none;
    margin-top: -1px;
    padding: 0;
    width: 90%; 
    position: absolute;
    z-index: 500;
}

#country-list li {
    padding: 10px;
    background: #f0f0f0;
    border-bottom: #bbb9b9 1px solid;
}

#country-list li:hover {
    background: #ece3d2;
    cursor: pointer;
}

#search-box {
    padding: 10px;
    border: #a8d4b1 1px solid;
    border-radius: 4px;
    width: 100%;
}
.locationUl {
	list-style-image: url('/images/location.png');
}

.tag {
  font-size: 14px;
  padding: .3em .4em .4em;
  margin: .1em .1em;
}
.tag a {
  color: #bbb;
  cursor: pointer;
  opacity: 0.6;
}
.tag a:hover {
  opacity: 1.0
}
.tag .remove {
  vertical-align: bottom;
  top: 0;
}
.tag a {
  margin: 0 0 0 .3em;
}
.tag a .glyphicon-white {
  color: #fff;
  margin-bottom: 2px;
}
</style>
<!-- Site wrapper START-->
<div class="wrapper">
    <!-- TOP Menu (all meta link scripts go here ) START -->
    <div th:replace="~{fragments/top-menu :: top-menu}"></div>
    <!-- TOP Menu (all meta link scripts go here ) END -->
    <!-- Left side column. contains the sidebar START -->
    <div th:replace="~{fragments/left-menu-panel :: left-menu-panel}"></div>
    <!-- Left side column. contains the sidebar END -->
    <!-- Content Wrapper. Contains page content START -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) START-->
        <!-- <div th:replace="~{fragments/maincontainheader :: maincontainheader"/>  TODO need to check 21-03-2020 -->
        <!-- Content Header (Page header) END-->


        <!--  ********  PLEASE DO NOT CHANGE ABOVE CODE ********* -->

        <!-- Main content START  -->
        <!--   ============ YOUR CODE WILL GO HERE =========== START -->
        <!-- Content Header START -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Add User</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Carpenter User</a></li>
                            <li class="breadcrumb-item active">Registration</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>
        <!-- Content Header END -->
        <section class="content">
            <div class="container-fluid">
                <div sec:authorize="!hasAuthority('permission.agent.toto')">
                    <div style="color: #ac2925; text-align: center">
                        <h4>You don't have permission to this page.</h4>
                    </div>
                </div>
                <div class="row" sec:authorize="hasAuthority('permission.agent.toto')">
                    <div class="col-12">
                        <div class="box">
                            <div class="box-header">
                                <div class="alert alert-success" th:if="${successMessage != null}">
                                    <strong>Success! </strong>
                                    <div th:text="${successMessage}"/>
                                </div>
                                <div class="alert alert-warning" th:if="${warningMessage != null}">
                                    <strong>Warning! </strong>
                                    <div th:text="${warningMessage}"/>
                                </div>
                                <div class="alert alert-danger" th:if="${errorMessage != null}">
                                    <strong>Failure! </strong>
                                    <div th:text="${errorMessage}"/>
                                </div>
                            </div>
                            <!-- /.box-header -->
                            <div class="card card-primary">
                                <div class="card-header">
                                    <h3 class="card-title">Enter User Details</h3>
                                </div>
                                <!-- /.card-header -->
                                <form role="form" class="form-horizontal" action="#" method="post" id="newUserForm" data-th-action="@{/cms/agents/registration/hmu/carpenter}" th:object="${user}" enctype="multipart/form-data">
                                
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <!-- dropdown input -->
                                                <input type="hidden" name="id" class="form-control" th:field="*{id}"/>
                                                <div class="form-group">
                                                    <label for="registrationNumber" class="control-label">Registration Id</label>
                                                    <input required type="text" name="registrationNumber" class="form-control" id="username" th:field="*{registrationNumber}" placeholder="Registration Number"/>
                                                    
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                	<label for="subscriptionCode" class="control-label">Subscription Type</label>
                                                    <select required  name="subscriptionCode" class="form-control" id="subscriptionCode" th:field="*{subscriptionCode}" placeholder="Subscription">
                                                    	<option value=""> Select </option>
                                                    	<option th:each="sub : ${subscriptions}" th:value="${sub.code}" th:text="${sub.name}" />
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div class="row">
                                        	<div class="col-sm-6">
                                                <div class="form-group">
                                                    <label for="name" class="control-label">Name</label>
                                                    <input required type="text" name="name" class="form-control" id="name" th:field="*{name}" placeholder="Name"/>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label for="age" class="control-label">Age</label>
                                                    <input required type="number" name="age" id="age" th:field="*{age}" class="form-control" placeholder="Age"/>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label for="gender" class="control-label">Gender</label>
                                                    <select required  name="gender" class="form-control" id="gender" th:field="*{gender}" placeholder="Gender">
                                                    	<option value="MALE" selected> MALE </option>
                                                    	<option value="FEMALE"> FEMALE </option>
                                                    	<option value="TRANSGENDER"> TRANSGENDER </option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                        	<div class="col-sm-6">
                                                <div class="form-group">
                                                    <label for="address" class="control-label">Address</label>
                                                    <input required type="text" name="address" id="address" th:field="*{address}" class="form-control" placeholder="Address"/>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label for="pin" class="control-label">Pin</label>
                                                    <input required type="text" name="pin" id="pin" th:field="*{pin}" class="form-control" placeholder="Pin"/>
                                                </div>
                                            </div>
                                            
                                        </div>
                                        
                                        <div class="row">
                                        	<div class="col-sm-6">
                                                <div class="form-group">
                                                    <label for="aadhaar" class="control-label">Aadhaar</label>
                                                    <input id="aadhaar" type="text" name="aadhaar" th:field="*{aadhaar}" class="form-control" placeholder="Aadhaar">
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label for="pan" class="control-label">Pan</label>
                                                    <input type="text" name="pan" id="pan" th:field="*{pan}" class="form-control" placeholder="Pan"/>
                                                </div>
                                            </div>
                                            
                                        </div>
                                        <div class="row">
                                        	<div class="col-sm-6">
                                                <div class="form-group">
                                                    <label for="phone" class="control-label">Phone</label>
                                                    <input required id="phone" type="text" name="phone" th:field="*{phone}" class="form-control" placeholder="Phone">
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label for="phoneAlternative" class="control-label">Phone Alternative</label>
                                                    <input type="text" name="phoneAlternative" id="phoneAlternative" th:field="*{phoneAlternative}" class="form-control" placeholder="phoneAlternative"/>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label for="email" class="control-label">Email</label>
                                                    <input id="email" type="text" name="email" th:field="*{email}" class="form-control" placeholder="email">
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label for="specializationName" class="control-label">Specialization Name</label>
                                                    <input required type="text" name="specializationName" id="specializationName" th:field="*{specializationName}" class="form-control" placeholder="specializationName"/>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label for="specializationValues" class="control-label">Specialization Values</label>
                                                    <input id="specializationValues" type="text" name="specializationValues" th:field="*{specializationValues}" class="form-control" placeholder="specializationValues">
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label for="location" class="control-label">Service Location</label>
                                                    <div class="frmSearch">
												        <input type="text" id="search-box" placeholder="Enter Location Name, PIN or District" />
												        <div id="suggesstion-box"></div>
												    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label  class="control-label">Selected Location(s)</label>
                                                    <div class="row">
                                                    	<div class="col-sm-12 " id="divSelectedLocation">
															
                                                    	</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label for="specializationName" class="control-label">PhotoID:</label>
                                                    <input type="file" name="photoId" id="photoId" th:field="*{photoId}" class="form-control" placeholder="photoId"/>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        
                                    </div>
                                    <!-- /.card-body -->
                                    <div class="card-footer">
                                        <button type="button" class="btn btn-danger" name="action" value="cancel"  onClick="javascript:location.href='/profile-user-list.html';">
                                            Cancel
                                        </button>
                                        <button type="submit" class="btn btn-primary pull-right" name="action" value="update">
                                            Add
                                        </button>
                                    </div>
                                </form>
                            </div>
                            <!-- /.card-->
                        </div>
                        <!-- /.box -->
                    </div>
                </div>
            </div>
        </section>
        <!--   ============ YOUR CODE WILL GO HERE =========== END-->
        <!-- Main content END  -->


        <!--  ********  PLEASE DO NOT CHANGE BELOW CODE ********* -->

    </div>
    <!-- Content Wrapper. Contains page content END -->

    <!-- ===================##### Main contain goes here END ============================ -->

    <!-- =============================================== -->
    <!-- Footer START -->
    <div th:replace="~{fragments/footer :: footer}"></div>
    <!-- Footer END -->
    <!-- Add the sidebar's background. This div must be placed immediately after the control sidebar -->
    <div class="control-sidebar-bg"></div>
</div>
<!-- Site wrapper END -->
<!-- common script START -->
<div th:replace="~{fragments/common-scripts :: common-scripts}"></div>
<!-- common script END -->
<!-- DataTables -->
<script th:src="@{/resources/js/jquery.dataTables-1.10.12.min.js}"></script>
<script th:src="@{/resources/js/dataTables.bootstrap-1.10.12.min.js}"></script>
<script th:src="@{/resources/js/bootstrap-dialog-1.35.4.min.js}"></script>
<script th:src="@{/resources/js/dataTables.fixedHeader-3.1.3.min.js}"></script>
<script th:src="@{/resources/js/dataTables.responsive-2.2.1.min.js}"></script>
<script th:src="@{/resources/js/responsive.bootstrap-2.2.1.min.js}"></script>
<script th:src="@{/resources/js/jquery.bootstrap-duallistbox.js}"></script>
<script th:src="@{/resources/js/bootstrap-imageupload.js}"></script>

<script th:inline="javascript">

</script>

<script type="text/javascript">
var locationMap = new Map();
$(document).ready(function() {
	
	
    $("#search-box").keyup(function() {
    	
    	var header = $("meta[name=_csrf_header]").attr("content");
    	var token =  $("meta[name=_csrf]").attr("content");
    	var searchString = $(this).val();
    	$.ajax({
            type: "POST",
            url: "/cms/internal/location/generic",
            contentType: 'application/json',
            data: JSON.stringify({
            	key: searchString
            }),
            beforeSend: function(xhr, settings) {
            	
            	var loaderUrl = "#FFF url(/images/LoaderIcon.gif) no-repeat 165px";
                $("#search-box").css("background", loaderUrl);
                xhr.setRequestHeader(header, token);
            },
            success: function(result) {
            	//console.log(result);
            	var htmlResult = "";
            	if(result.status.code == 200)
            	{
            		locationMap.clear();
            		var listLocation = result.data.locations;
            		var htmlUlStart = '<ul id="country-list" class="locationUl" >';
            		var htmlItems = "";
                	listLocation.forEach(function (location) {
                	    var id = location.locationId;
                	    var desc = location.shortDetails;
                	    //console.log(desc);
                	    htmlItems += '<li onClick="selectLocation('+id+')">'+desc+'</li>';
                	    
                	    locationMap.set(id, desc);
                	});
                	var htmlUlEnd = '</ul>';
                	
                	htmlResult = htmlUlStart + htmlItems + htmlUlEnd;
                	
                	$("#suggesstion-box").show();
                    $("#suggesstion-box").html(htmlResult);
                    $("#search-box").css("background", "#FFF");
            	}
            	else
            	{
            		console.log("error fetching data:" + result.status.message);
            		$("#search-box").css("background", "#FFF");
            	}
            	
            	
            	/* <ul id="country-list">
            	   <li onClick="selectCountry('country_name')"> country_name </li>
            	</ul> */
            }
        });
    });
    
    /* $("#search-box").focusout(function(){
		$("#suggesstion-box").hide();
	}); */
});

function test()
{
	alert("test");
}
function selectLocation(id) {
	
	$("#suggesstion-box").hide();
	//alert(id);
	//divSelectedLocation
	var name = locationMap.get(id);
	var displayName = (name.length > 8) ? name.substring(0,7)+ "..." : name;
	console.log(id + " ==> " + displayName);
	var labelString = '<span title="' +name+ '" class="tag label label-info"><span>' + displayName + '</span><a><i class="fa fa-trash"></i></a></span>'
						+ '<input type="hidden" name="locationIds" value="'+id+'"/>';
	$('#divSelectedLocation').append(labelString);
}

function selectCountry(val) {
	alert(val);
    $("#search-box").val(val);
    $("#suggesstion-box").hide();
}
</script>
</body>
</html>
